#mid-bg{
	position: fixed;
	top: 45px;
	left: 0px;
	height: 529px;
	width: 100%;
	background-color:#717af1 ;
}
#logo{
	font-size: 40px;
	font-family: castellar;
	font-weight: bold;
	font-style: italic;
	padding-top: 5px;
	color: #000000;
}
.navbar-brand{
	font-size: 28px;
}
#header-nav{
	background-color:#00cccc ;
}
.sidebar{
	position: fixed;
	height: 100%;
	padding: 68px 0px 0px 0px;
}
.sidebar-sticky{
	position: sticky;
	padding-top: .5rem;
	
}
.sidebar-heading{
	text-transform: uppercase;
}
.sidebar-spliter{
	
}
#l-bar{
	padding: 0px;
}
#main{
	padding: 68px 0px 0px 0px;
}
a.nav-link{
	font-size: 18px;
	color: #949494;
	padding-left: 30px;
}
a.nav-link i{
	margin-right: 16px;
}
a.nav-link:hover{
	font-size: 18px;
	color: black;
	background-color: dimgray;
	padding-left: 30px;
}
.dropdown a:hover{
	background-color: transparent;
}