.detail-block{
	width: 95%;
	padding: 5px;
	margin-top: 25px;
	border-radius: 5px;
}
.user-img{
	margin: 10px;
}
.user-img img{
	height: 55px;
}
.main-item h5{
	margin: 5px;
	color: black;
	font-size: ;
}
.main-item-info{
	margin-left:5px;
}
.time-string{
	font-style: italic;
}
.addon-block{
	width: 95%;
	padding: 5px;
	margin-top: 25px;
	border-radius: 5px;
}
.addon-form{
	width: ;
}