{% extends './message/base.html' %}

{% block reply %}

<div>
	{% if received == [] %}
	<div class="card mx-auto mt-3" style="width:30%">
		<p class="m-auto text-"><i class="fa fa-envelope-open mr-2"></i>暂时没有人@你哦~</p>
	</div>
	{% else %}
		{% for r in received %}
			{% set u = r.user() %}
			{% set t = r.topic() %}
			<div class="reply-card">
				<div class="card-top">
					<div class="card-top-left">
						<a title="{{ r.sender_id }}" target="_blank" class="top-avatar" style="background-image: url({{ u.img }});"></a>
					</div>
					<div class="card-top-right">
						<div class="card-name-box">
							<a title="{{ r.sender_id }}" target="_blank" href="{{ url_for('user_index.index', id=u.id) }}" class="name">{{ u.username }}</a>
							<span class="reply-item">{{ r.updated_time | formatte_time }}</span>
						</div>
						<div class="reply-content">
							<span>
								<a href="{{ url_for('topic.detail', id=t.id ) }}" target="_blank" title="{{ r.content }}" class="a-content">{{ r.content }}</a>
							</span>
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="content">
						<span class="text">
							用户{{ u.username }}在话题
							<a href="{{ url_for('topic.detail', id=t.id ) }}" target="_blank" title="{{ t.title }}" class="link">
								“ {{ t.title }} ”
							</a>
							<span>中@你了</span>
						</span>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>

{% endblock %}
