{% extends './message/base.html' %}
{% block title %}
{% endblock %}
{% block reply %}
<script type="application/javascript">
	document.onload(
		document.querySelector("#dashboard-sidebar-pagelist > li:nth-child(1)").active = true;)
</script>
<div class="space-right">
	<p>回复我的：</p>
	{% if received == [] %}
	<div class="reply-card">
		<b><img class="none" src="/images/none.jpg" /></b>
		<p class="p-none">暂时没有哦~</p>
	</div>
	{% else %}
	{% for r in received %}
	{% set t = r.topic() %}
	{% set u = r.user() %}
	<div class="card mx-5 mt-3">
		<div class="card-header">
			在话题 <a href="{{ url_for('topic.detail', id=t.id ) }}" class="text-muted">{{ t.title }}</a> 下：
		</div>
		<div class="card-body">
			<blockquote class="blockquote mt-0">
				<p>{{ r.content }}</p>
				<footer class="blockquote-footer pull-right">
					用户
					<a title="{{ r.sender_id }}" href="{{ url_for('user.index', id=u.id) }}" class="name">{{ u.username }}</a>
					在<span class="reply-item">{{ r.updateTime }}</span>回复了您
				</footer>
			</blockquote>
		</div>
	</div>
	{% endfor %}
	{% endif %}

</div>
{% endblock %}
