{% extends './message/base.html' %}
{% block reply %}

<div class="space-right">

	{% if received == [] %}
		<div class="card mx-auto mt-3" style="width:30%">
			<p class="m-auto text-"><i class="fa fa-envelope-open mr-2"></i>暂时未获得收藏哦~</p>
		</div>
	{% else %}
		{% for r in received %}
			{% set u = r.user() %}
			{% set t = r.topic() %}
			<div class="card mx-5 mt-3">
				<div class="card-header">
					在话题 <a href="{{ url_for('topic.detail', id=t.id ) }}" class="text-muted">{{ t.title }}</a> 下：
				</div>
				<div class="card-body">
					<blockquote class="blockquote mt-0">
						<p>{{ r.content }}</p>
						<footer class="blockquote-footer pull-right">
							用户
							<a title="{{ r.sender_id }}" href="{{ url_for('user.index', id=u.id) }}" class="name">{{ u.username }}</a>
							在<span class="reply-item">{{ r.updateTime }}</span>回复了您
						</footer>
					</blockquote>
				</div>
			</div>
		{% endfor %}
	{% endif %}
</div>

{% endblock %}
