<div class="row" style="height: 9%;margin: 0;">
    <nav id="dashboard-logo" class="navbar navbar-expand-lg col-12">
        <form class="form-inline mr-auto" action="dashboard/statis.html">
            <input class="form-control mr-3" type="search" name='C' placeholder="Input Country Here"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-2 my-auto mr-5">
            <li class="nav-item">
                <a class="brand" id="user-img" href="{{ url_for('topic.index', id=u.id) }}">
                    <img src="{{ u.img }}" class="user-img"></a>
            </li>
            <li class="nav-item dropdown my-auto">
                <a class="nav-link dropdown-toggle" href="#" id="usernameDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ u.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="usernameDropdown">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href='{{ url_for('user.index',id=u.id) }}'>用户信息</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href='{{ url_for('user.edit',id=u.id) }}'>编辑</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href='{{ url_for('message.collect',id=u.id) }}'>收藏夹</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link" href='{{ url_for('index.quit') }}'>登出</a>
                </div>
            </li>
        </ul>
    </nav>
</div>