<nav id='header-nav' class="navbar flex-md-nowrap p-0 row shadow fixed-top" style="height: 65px;">
	<a id="logo" class="navbar-brand col-md-2 bg-light h-100" href="{{ url_for('dashboard.index') }}" style="margin-left: 10px; padding-left: 5px;">CrovidView</a>
	<!-- 搜索栏 -->
	<form class="form-inline mr-auto" action="{{ url_for('dashboard.forecast_detail') }}" method="get">
		<input id="search_bar" class="form-control form-control-dark mr-2" type="text" name='C' placeholder="Input Country Here"
	 aria-label="Search">
		<input type="submit" style="visibility: hidden;">
	 </form>
	<!-- 头像 -->
	<a href="{{ url_for('user.index', id=u.id) }}">
		<img src="{{ u.img }}" class="user-img rounded-circle" style="width: 55px;" />
	</a>
	<!-- 用户名 -->
	<div class="dropdown">
		<a id="username_link" class="nav-link dropdown-toggle mr-5" href="#" role="button" id="usernameDropdown" data-toggle="dropdown" data-hover="dropdown"
			aria-haspopup="true" aria-expanded="false">
				{{ u.username }}
		</a>
		<div class="dropdown-menu" aria-labelledby="usernameDropdown" style="position: absolute; left: -35px; top: 50px;">
		<!-- <ul id="user_details" class="navbar-nav px-3"> -->
			<a class="dropdown-item" href="{{ url_for('user.index',id=u.id) }}">用户信息</a>
			<div class="dropdown-divider"></div>
			<a class="nav-link" href="{{ url_for('user.edit',id=u.id) }}">编辑</a>
			<div class="dropdown-divider"></div>
			<a class="nav-link" href="{{ url_for('topic.my_collect',id=u.id) }}">收藏夹</a>
			<div class="dropdown-divider"></div>
			<a class="nav-link" href="{{ url_for('index.quit') }}">登出</a>
		<!-- </ul> -->
		</div>
	</div>
	<!-- 弹框 -->
	<script type="application/javascript">
		$.getElementById("usernameDropdown").onclick(
			$('#user_details').dropdown();
		);
	</script>
</nav>
