<nav id='header-nav' class="navbar flex-md-nowrap p-0 row shadow fixed-top" style="height: 65px;">
	<a id="logo" class="navbar-brand col-md-2 bg-light h-100" href="#" style="margin-left: 10px; padding-left: 5px;">CrovidView</a>
	<!-- 搜索栏 -->
	<input class="form-control form-control-dark mr-auto w-25" type="text" name='C' placeholder="Input Country Here"
	 aria-label="Search">
	<!-- 头像 -->
	<a href="{{ url_for('topic.index', id=u.id) }}">
		<img src="{{ u.img }}" class="user-img rounded-circle" style="width: 55px;" />
	</a>
	<!-- 用户名 -->
	<ul class="navbar-nav px-3">
		<li class="nav-item my-auto mr-5 dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" id="usernameDropdown" data-toggle="dropdown" data-hover="dropdown"
			 aria-haspopup="true" aria-expanded="false">
				{{ u.username }}
			</a>
			<div id="user_details" class="dropdown-menu bg-secondary" aria-labelledby="usernameDropdown">
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{{ url_for('user.index',id=u.id) }}">用户信息</a>
				<div class="dropdown-divider"></div>
				<a class="nav-link" href="{{ url_for('user.edit',id=u.id) }}">编辑</a>
				<div class="dropdown-divider"></div>
				<a class="nav-link" href="{{ url_for('topic.my_collect',id=u.id) }}">收藏夹</a>
				<div class="dropdown-divider"></div>
				<a class="nav-link" href="{{ url_for('index.quit') }}">登出</a>
			</div>
		</li>
	</ul>
	<!-- 弹框 -->
	<script type="application/javascript">
		$.getElementById("usernameDropdown").onclick(
			$('#user_details').dropdown();
		);
	</script>
</nav>
