<nav class="col-md-2 bg-light sidebar">
	{#主体部分的侧边栏#}
	<div class="sidebar-sticky">
		<ul class="nav flex-column" id="dashboard-sidebar-pagelist">
			<li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.index') }}"><i class="fa fa-bar-chart fa-fw"></i>疫情预览</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.maps') }}"><i class="fa fa-map-marker fa-fw"></i>疫情热力图</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('dashboard.forecast') }}"><i class="fa fa-line-chart fa-fw"></i>疫情预测</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('topic.index',board_id=1) }}"><i class="fa fa-rocket fa-fw"></i>疫情新闻</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('topic.index',board_id=2) }}"><i class="fa fa-paper-plane fa-fw"></i>最新动态</a></li>
			<li class="nav-item"><a class="nav-link" href="{{ url_for('message.index') }}"><i class="fa fa-envelope fa-fw"></i>用户消息</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('topic.new',board_id=-1) }}"><i class="fa fa-envelope fa-fw"></i>发布动态</a></li>
		</ul>
		<div class="sidebar-spliter"></div>
		<h6 class="sidebar-heading d-flex justify-content-between align-items-center text-muted ml-3 mt-2 mb-1">DOCUMENT</h6>
		<ul class="nav flex-column" id="dashboard-sidebar-doclist">
			<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-file-text fa-fw"></i>Readme</a></li>
			<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user-circle fa-fw"></i>User Guide</a></li>
			<li class="nav-item"><a class="nav-link" href="https://voice.baidu.com/act/newpneumonia/newpneumonia/?from=osari_pc_1"><i
					 class="fa fa-flash fa-fw"></i>APIS</a></li>
		</ul>
	</div>
</nav>
