{% extends 'topic/base.html' %}
{% block details %}
<div class="panel">
	<div class="header topic-header">
		<div class="title">
		{{ topic.title }}
		</div>
		<div class="topic-infos">
		{% set author = topic.user() %}
		{{ author.username }}发布于{{ topic.createTime }} | 获 {{ topic.views }} 次浏览
		</div>
	</div>
	<div class="inner">
		{{ topic.content }}
	</div>
	<div class="replylist">
		<!-- 显示以往回复 -->
		{% for r in topic.replies() %}
		{% set u = r.user() %}
		<div class='cell reply_area reply_item'>
			<div class='author_content'>
				<div class="user-img">
					<a href="{{ url_for('user.index', id=u.id) }}">
						<img src="{{ u.img }}">
					</a>
				</div>
				<div class='user_info'>
					<a class='dark reply_author' href="{{ url_for('user.index', id=u.id) }}">
						{{ u.username }}
					</a>
					<a class="reply-time">
						{# {{ loop.index }}楼 / {{ loop.length }}楼 •#}
						<span class="niku-time" id="{{ r.ct }}">
							{{ r.created_time | formatte_time }}</span>
					</a>
				</div>
			</div>
			<div class='reply_content'>
				<div class="markdown-text">{{ r.content | safe_str }}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="panel comment-send cell">
	<!-- 添加新回复 -->
	<div class="user-img">
		<img class="user-head" src="{{ u.img }}">
	</div>
	<div>
		<form action="{{ url_for('reply.add') }}" method="post">
			<input type="hidden" name="topic_id" value="{{ topic.id }}">
			<textarea name="content" class="add-reply" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
			<button class="comment-submit">添加回复</button>
		</form>
	</div>
</div>
{% endblock %}
