{% extends "./dashboard/base.html" %}

{% block title %}
<title>
	Dashboard | {{ kind }}
</title>
{% endblock %}

{% block statisblock %}
<div id="statis-blocks" class="row w-100 justify-content-around my-2">
	<div class="confirm view-block px-3">
		<label>累计确诊：</label>
		<p>{{ data['data']['confirm'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
	<div class="suspect view-block px-3">
		<label>现有确诊：</label>
		<p>{{ data['data']['nowConfirm'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>

	<div class="dead view-block px-3">
		<label>累计死亡：</label>
		<p>{{ data['data']['dead'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
	<div class="heal view-block px-3">
		<label>累计治愈：</label>
		<p>{{ data['data']['heal'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
</div>
{% endblock %}

{% block viewblock %}
<div id="chart-line-container" class="col-12">
	<div id="chart-line" style="height: 400px">

	</div>
	<div id="predict-line" style="height:400px">
		<img src="{{ url_for('dashboard.predict',pos=data['name']) }}"/>
	</div>
</div>
<!-- <div id="chart-table" class="col-12">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">First</th>
	      <th scope="col">Last</th>
	      <th scope="col">Handle</th>
	    </tr>
	  </thead>
	  <tbody>
	{% for daily_info in forecast_infos %}
		<tr>
	      <th scope="row">1</th>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	{% endfor %}
	</tbody>
</div> -->
<script type="text/javascript">
	$.post("/dashboard/lineChartData", {
		"type": '{{ type }}'
	}, function(data) {
		line_chart = echarts.init(document.getElementById('chart-line'));
		line_chart_option = {
			title: {
				text: '疫情趋势变化图'
			},
			tooltip: {
				trigger: 'axis',
				axisPointer: {
					type: 'cross',
					label: {
						backgroundColor: '#6a7985'
					}
				}
			},
			toolbox:{
				feature:{
					dataZoom:{
						yAxisIndex:'none'
					},
					restore:{},
					saveImage:{}
				}
			},
			grid: {
				left: '5%',
				left: '5%',
				bottom: '5%',
				containLabel: true
			},
			legend: {
				data: ['heal', 'dead', 'newAddConfirm', 'confirm']
			},
			dataset: {
				source: data.history
			},
			dataZoom: [
				{
				            show: true,
				            realtime: true,
				            start: 30,
				            end: 70,
				            xAxisIndex: [0]
				        },
				{
					type: 'inside',
					realtime: true,
					start: 30,
					end: 70,
					xAxisIndex: [0]
				}
			],
			xAxis: {
				type: 'category',
				axisLabel: {
					'rotate': 40
				}
			},
			yAxis: {
				gridIndex: 0
			},
			series: [{
					type: 'line',
					smooth: true,
					seriesLayoutBy: 'row'
				},
				{
					type: 'line',
					smooth: true,
					seriesLayoutBy: 'row'
				},
				{
					type: 'line',
					smooth: true,
					seriesLayoutBy: 'row'
				},
				{
					type: 'line',
					smooth: true,
					seriesLayoutBy: 'row'
				},
			]
		};
		line_chart.setOption(line_chart_option);
	})
</script>
{% endblock %}
