{% extends "./dashboard/base.html" %}

{% block title %}
<title>
	Dashboard | {{ kind }}
</title>
{% endblock %}

{% block statisblock %}
<div id="statis-blocks" class="col-12 row justify-content-around my-2">
	<div class="confirm view-block px-3">
		<label>现有确诊：</label>
		<p>{{ data['data']['nowConfirm'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
	<div class="suspect view-block px-3">
		<label>现有疑似：</label>
		<p>{{ data['data']['suspect'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
	<div class="dead view-block px-3">
		<label>累计死亡：</label>
		<p>{{ data['data']['dead'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
	<div class="heal view-block px-3">
		<label>累计治愈：</label>
		<p>{{ data['data']['heal'] }}</p>
		<p>更新时间：{{ data['time'] }}</p>
	</div>
</div>
{% endblock %}

{% block viewblock %}
<div id="chart-map" class="col-10 offset-1 mt-5" style="height: 600px;"></div>
<script type="application/javascript">
	var ec_center = echarts.init(document.getElementById('chart-map'));
	$.post("/dashboard/mapChartData", {
			"name": '{{ data.name }}'
		},
		function(data, status) {
			var ec_center_option = {
				title: {
					text: '',
					subtext: '',
					x: 'left'
				},
				tooltip: {
					trigger: 'item'
				},
				//左侧小导航图标
				visualMap: {
					show: true,
					x: 'left',
					y: 'bottom',
					textStyle: {
						fontSize: 8,
					},
					splitList: [{
							start: 1,
							end: 9
						},
						{
							start: 10,
							end: 99
						},
						{
							start: 100,
							end: 999
						},
						{
							start: 1000,
							end: 9999
						},
						{
							start: 10000
						}
					],
					color: ['#8A3310', '#C64918', '#E55B25', '#F2AD92', '#F9DCD1']
				},
				//配置属性
				series: [{
					name: '累计确诊人数',
					type: 'map',
					mapType: 'china',
					roam: false, //拖动和缩放
					itemStyle: {
						normal: {
							borderWidth: .5, //区域边框宽度
							borderColor: '#009fe8', //区域边框颜色
							areaColor: "#ffefd5", //区域颜色
						},
						emphasis: { //鼠标滑过地图高亮的相关设置
							borderWidth: .5,
							borderColor: '#4b0082',
							areaColor: "#fff",
						}
					},
					label: {
						normal: {
							show: true, //省份名称
							fontSize: 8,
						},
						emphasis: {
							show: true,
							fontSize: 8,
						}
					},
					data: data.data //mydata //数据
				}]
			};
			ec_center.setOption(ec_center_option);
		})
</script>
{% endblock %}
