{% extends "./dashboard/base.html" %}

{% block title %}
    <title>
        Dashboard | {{ kind }}
    </title>
{% endblock %}

{% block statisblock %}
    <div id="statis-blocks" class="col-12 row justify-content-around my-2">
    	<div class="confirm view-block px-3">
    		<label>现有确诊：</label>
    		<p>{{ data.confirm }}</p>
    		<p>更新时间：{{ data.time }}</p>
    	</div>
    	<div class="suspect view-block px-3">
    		<label>现有疑似：</label>
    		<p>{{ data.suspect }}</p>
    		<p>更新时间：{{ data.time }}</p>
    	</div>
    	<div class="dead view-block px-3">
    		<label>累计死亡：</label>
    		<p>{{ data.dead }}</p>
    		<p>更新时间：{{ data.time }}</p>
    	</div>
    	<div class="heal view-block px-3">
    		<label>累计治愈：</label>
    		<p>{{ data.heal }}</p>
    		<p>更新时间：{{ data.time }}</p>
    	</div>
    </div>
{% endblock %}

{% block viewblock %}
<div id="chart-map" class="col-12" style="height: 600px;"></div>
<script type="application/javascript">
	var map_chart = echarts.init(document.getElementById('chart-map'));
	$.post('/dashboard/mapChartData', {
		"name": '{{ data.name }}',
	}, ).done(function(data) {
		map_chart.showLoading();
		$.get('/static/map_json/china.json', function (geoJson) {
		
		    map_chart.hideLoading();
		
		    echarts.registerMap('China', geoJson);
		
		    map_chart.setOption(option = {
		        title: {
		            text: '香港18区人口密度全国 （2011）',
		            subtext: '人口密度数据来自Wikipedia',
		            sublink: 'http://zh.wikipedia.org/wiki/%E9%A6%99%E6%B8%AF%E8%A1%8C%E6%94%BF%E5%8D%80%E5%8A%83#cite_note-12'
		        },
		        tooltip: {
		            trigger: 'item',
		            formatter: '{b}<br/>{c} (p / km2)'
		        },
		        toolbox: {
		            show: true,
		            orient: 'vertical',
		            left: 'right',
		            top: 'center',
		            feature: {
		                dataView: {readOnly: false},
		                restore: {},
		                saveAsImage: {}
		            }
		        },
		        visualMap: {
		            min: 800,
		            max: 50000,
		            text: ['High', 'Low'],
		            realtime: false,
		            calculable: true,
		            inRange: {
		                color: ['lightskyblue', 'yellow', 'orangered']
		            }
		        },
		        series: [
		            {
		                name: '香港18区人口密度',
		                type: 'map',
		                mapType: 'HK', // 自定义扩展图表类型
		                label: {
		                    show: true
		                },
		                data: data.data,
		            }
		        ]
		    });
		});
	})
</script>
{% endblock %}