{% extends "./dashboard/base.html" %}

{% block title %}
<title>
	Dashboard | {{ kind }}
</title>
{% endblock %}

{% block statisblock %}
<div id="statis-blocks" class="col-12 row justify-content-around my-2">
	<div class="confirm view-block px-3">
		<label>现有确诊：</label>
		<p>{{ sd.confirm }}</p>
		<p>更新时间：{{ sd.updateTime }}</p>
	</div>
	<div class="suspect view-block px-3">
		<label>现有疑似：</label>
		<p>{{ sd.suspect }}</p>
		<p>更新时间：{{ sd.updateTime }}</p>
	</div>
	<div class="dead view-block px-3">
		<label>累计死亡：</label>
		<p>{{ sd.dead }}</p>
		<p>更新时间：{{ sd.updateTime }}</p>
	</div>
	<div class="heal view-block px-3">
		<label>累计治愈：</label>
		<p>{{ sd.heal }}</p>
		<p>更新时间：{{ sd.updateTime }}</p>
	</div>
</div>
{% endblock %}

{% block viewblock %}
<div id="chart-l" class="col-6 ml-5 mt-5 mr-5 p-0" style="height: 600px;"></div>
<div id="chart-r" class="col-4 ml-5 mt-5 px-2 py-3" style="height: 600px;"></div>
<script type="text/javascript">
	var statis_chart_l = echarts.init(document.getElementById('chart-l'));
	var statis_chart_r = echarts.init(document.getElementById('chart-r'));
	$.post('/dashboard/barChartData', {
		"name": '{{ sd.country }}',
	}, ).done(function(data) {
		var option = {
			title: {
				text: '疫情排名前8地区（湖北以外）',
				subtext: '数据来自丁香园',
				textStyle:{
					color:"white"
				},
				left:'3%',
				top:"2%"
			},
			tooltip: {
				trigger: 'axis',
				axisPointer: {
					type: 'shadow',
				},
			},
			legend: {
				left: 'right',
				top: '2%',
				textStyle:{
					color:"white",
				},
				data: ['heal', 'dead', 'confirm']
			},
			textStyle:{
				color:"white"
			},
			dataset: {
				source: []
			},
			grid: {
				// 表格位置
				left: '3%',
				right: '4%',
				bottom: '3%',
				containLabel: true
			},
			xAxis: {
				type: 'value',
				// 表格中左右留出的宽度
				boundaryGap: [0, 0.01],
			},
			yAxis: {
				type: 'category',
			},
			series: [{
					type: 'bar'
				},
				{
					type: 'bar'
				},
				{
					type: 'bar'
				}
			],
		};
		for (var i = 0; i < 9; i++) {
			item = data.data[i];
			if (item[0] != '湖北') {
				option.dataset.source.push(item);
			}
		}
		statis_chart_l.setOption(option);
	})
	$.post("/dashboard/pieChartData", {
			"name": '{{ sd.country }}'
		},
		function(data, status) {
			var option = {
				title: {
					text: '各地区感染人数情况',
					subtext: '数据来自丁香园',
					left: 'center'
				},
				tooltip: {
					trigger: 'item',
					formatter: '{a} <br/>{b} : {c} ({d}%)'
				},
				legend: {
					left: 'center',
					top: 'bottom',
					itemWidth:15,	
					data: data.names
				},
				toolbox: {
					show: true,
					feature: {
						mark: {
							show: true
						},
						dataView: {
							show: true,
							readOnly: false
						},
						magicType: {
							show: true,
							type: ['pie', 'funnel']
						},
						restore: {
							show: true
						},
						saveAsImage: {
							show: true
						}
					}
				},
				series: [{
					name: '面积模式',
					type: 'pie',
					radius: [30, 150],
					center: ['50%', '40%'],
					roseType: 'angle',
					data: data.data
				}]
			};
			statis_chart_r.setOption(option);
		});
</script>
{% endblock %}
