{% extends "./user/base.html" %}

{% block title %}
<title>
	User Edit | {{ other.username }}
</title>
{% endblock %}

{% block mainblock %}
<div id="head-infos">
	<div class="profile-title">USER PROFILE</div>
	<div class="hello-title">Hello,{{ u.username }}</div>
</div>
<div id="main" class="row m-0">
	<!-- 左侧用户信息展板 -->
	<div id="card-l" class="card col-8 p-0 m-3">
		<div class="card-header">
			<span class="title-text">我的账户</span>
		</div>
		<div class="card-body">
			<h5>用户信息</h5>
			<hr></hr>
			<div class="user-info">
				<form>
					<label>用户名：</label>
					<input type="text" class="form-control" id="username-input" placeholder="{{ other.username }}"/>
					<label>邮箱：</label>
					<input type="email" class="form-control" id="email-input" placeholder="{{ other.mail }}"/>
					<label>个性签名：</label>
					<input type="text" class="form-control" id="signature-input" placeholder="{{ other.signature }}"/>
					<label>地区：</label>
					<input type="text" class="form-control" id="location-input" placeholder="{{ other.location }}"/>
					<button type="button" class="form-control pull-right m-3 btn btn-primary" id="username-input" style="width: auto;">Save</button>
				</form>	
			</div>
			
			<h5>修改密码</h5>
			<hr></hr>
			<div>
				<label>个性签名：</label>
				<input type="text" class="form-control" id="signature-input" placeholder="{{ other.signature }}"/>
				<label>地区：</label>
				<input type="text" class="form-control" id="location-input" placeholder="{{ other.location }}"/>
			</div>
		</div>
	</div>
	<!-- 右侧话题发布展板 -->
	<div id="card-r" class="card col-3 p-0 mr-3">
	    <div class="header">
	        <ul class="breadcrumb">
	            <li><a href="{{ url_for('topic.index', id=u.id) }}">主页</a><span class="divider">/</span></li>
	        </ul>
	    </div>
	    <div class="inner userinfo">
	        <div class="user_big_avatar">
	            <img src="{{ other.img }}" class="user_avatar"
	                 title="{{ other.username }}"/>
	        </div>
	        <div class="user_profile">
	            <ul class="unstyled">
	            </ul>
	        </div>
	        <p class="col_fade" id="niku-time" data-created_time="{{ other.created_time }}">注册时间</p>
	        <p class="col_fade">发表过{{ ms | count }}篇文章</p>
	    </div>
	</div>
</div>
	<!-- 背景图片 -->
	<div class="back-up" style='position:fixed;bottom:20px;right: 20px'>
        <img src="/images/go_top.png" style="height: 30px;width: 30px">
    </div>
</div>

<script>
    var e = function (sel) {
        return document.querySelector(sel)
    }
    var es = function (sel) {
        return document.querySelectorAll(sel)
    }
    var registerTimer = function () {
        setInterval(function () {
            var times = es('.niku-time')
            for (var i = 0; i < times.length; i++) {
                var t = times[i]
                var time = Number(t.dataset.created_time)
                var now = Math.floor(new Date() / 1000)
                var delta = now - time
                var s = `${delta} 秒前`
                t.innerText = s
            }
        }, 1000)
        setInterval(function () {
            var times = es('#niku-time')
            for (var i = 0; i < times.length; i++) {
                var t = times[i]
                var time = Number(t.dataset.created_time)
                var now = Math.floor(new Date() / 1000)
                var delta = now - time
                var s = `注册时间 ${delta} 秒前`
                t.innerText = s
            }
        }, 1000)
    }
    var goTop = function () {
        window.addEventListener('scroll', function () {
            var h = document.documentElement.scrollTop
            var a = e('.back-up')
            a.addEventListener('click', function () {
                scrollTo(0, 0);
            })
            if (h > 30) {
                a.style.display = "block"
            } else {
                a.style.display = "none"
            }
        })
    }
    var __main = function () {
        registerTimer()
        goTop()
    }

    __main()

</script>
{% endblock %}