{% extends "./user/base.html" %}

{% block title %}
<title>
	User Index | {{ other.username }}
</title>
{% endblock %}

{% block mainblock %}
<div id="head-infos">
	<div class="profile-title">USER PROFILE</div>
	<div class="hello-title">Hello,{{ u.username }}</div>
</div>

<div id="main-page row ml-auto">
	<div class="card-l col-8">
		<div class="inner">
			<div class="user_card">
				<div>
					<div class="space clearfix"></div>
					{% if u.signature == None %}
					<span class="signature">
						“这家伙很懒，什么个性签名都没有留下。”
					</span>
					{% elif (u.signature | count) == 0 %}
					<span class="signature">
						“这家伙很懒，什么个性签名都没有留下。”
					</span>
					{% else %}
					<span class="signature">
						“{{ u.signature }}”
					</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<div class="panel bg-light mx-3" style="border-radius: 20px;">
			<div class="inner userinfo row">
				<div class="user_big_avatar col-2">
					<img src="{{ other.img }}" class="user-title mx-3 my-2" title="{{ other.username }}">
				</div>
				<div class="col-10">
					<p class="col_fade">注册于{{ other.createTime }}</p>
					<p class="col_fade">发表过{{ ms | count }}篇文章</p>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="header">
				<span class="col_fade">最近创建的话题</span>
			</div>
			{% if (ms | count) == 0 %}
			<div class="inner">
				<p>您暂未发布过话题</p>
			</div>
			{% else %}
				{% for t in ms %}
					{% set a = (t.replies() | myfirst) %}
					<div class="card mx-3 my-4" style="background-color: #009999; border-radius: 20px;">
						<div class="row no-gutters">
							<div class="col-1">
								<img class="user-img my-3 mx-3" src="{{ other.img }}" title="{{ other.username }}">
							</div>
							<div class="col-11">
								<div class="card-body p-2">
									<h5 class="card-title">	{{t.title}}</h5>
									<p class="card-text mb-0">{{t.content}}</p>
									<p class="card-text mb-0 text-muted">{{ t.replies() | count }}/{{ t.views }}</p>
									<a class="last_time pull-right pb-4">
										{% if a == None %}
										<div></div>
										{% else %}
										{% set u = a.user() %}
										replied by:	
										<img class="ml-2" style="width: 33px;" src="{{ u.img }}">
										{% endif %}
										<span class="niku-time" data-created_time="{{ t.updated_time }}"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="card-footer"><a class="pull-right mr-2" style="color: white;" href="{{ url_for('topic.detail', id=t.id) }}">>>detail</a></div>	
						<!-- 首条回复 -->
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	{% endblock %}
